<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <label>Username:</label>
            <p>{{samSon.name}}</p>
            <img src="{{samSon.avatar_url}}" alt="profile">
            <app-pages-repos></app-pages-repos>
            <ul>
                <li>naming Akan</li>
                <li>agdshfdgfhg</li>
                <li>dfghj</li>
            </ul>
        </div>
        <div class="col-lg-6">

            <button class="btn btn-secondary">Find</button>
            <app-pages-form></app-pages-form>

        </div>
    </div>