<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-secondary">Kingsam91</button><br>
            <label>Username:</label>
            <p>{{samSon.name}}</p>
            <img src="{{samSon.avatar_url}}" alt="profile">
            <ul *ngFor="let item of nguThi; index as i;">
                <li>{{item.name}}</li>
                <li>{{item.git_url}}</li>
            </ul>
        </div>
        <div class="col-lg-6">

            <button class="btn btn-secondary" (click)='toggleDetails()'>Find</button>
            <app-pages-form></app-pages-form>

        </div>
    </div>